[submodule "viewer/amazon-kinesis-video-streams-webrtc-sdk-js"]
	path = viewer/amazon-kinesis-video-streams-webrtc-sdk-js
	url = https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js
[submodule "master-amebapro/doorphone-master"]
	path = master-amebapro/doorphone-master
	url = https://github.com/thomas-roos/doorphone-master.git
[submodule "master/linux-webrtc-reference-for-amazon-kinesis-video-streams"]
	path = master/linux-webrtc-reference-for-amazon-kinesis-video-streams
	url = https://github.com/awslabs/linux-webrtc-reference-for-amazon-kinesis-video-streams.git
[submodule "viewer/aws-iot-device-sdk-js"]
	path = viewer/aws-iot-device-sdk-js
	url = https://github.com/aws/aws-iot-device-sdk-js.git
